{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}MyApp{% endblock title %}</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-50">
<script src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js" defer></script>


{% if request.resolver_match.url_name != 'login' and request.resolver_match.url_name != 'sign-up' %}
 {% include 'parts/navbar.html' %}
{% endif %}

  <main class="max-w-7xl mx-auto px-4 py-6">
    {% block content %}{% endblock content %}
  </main>

  {% block scripts %}{% endblock scripts %}
</body>
</html>
